@model GymFinal.Models.StudioClass


@{
    ViewData["Title"] = "Info";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<style>
    h1 {
        text-shadow: 2px 2px 5px yellow;
    }
</style>



<style>
    .icon-box-item {
        text-align: center;
        margin-bottom: 40px;
    }

        .icon-box-item .ib-icon {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            color: #000000;
            font-size: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #f6f9fa;
            margin: 0 auto 25px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .icon-box-item h4 {
            margin-bottom: 25px;
        }

        .icon-box-item p {
            margin-bottom: 0;
        }

        .icon-box-item:hover .ib-icon {
            background: #fcff18;
        }
</style>
<style>
    #border {
        border: 3px solid #F7F97E;
        border-radius: 40px;
    }
</style>


<br />
<br />

<style>
    #demotext {
     
        color: #FFFF00;
        text-shadow: -1px -1px 0 #FFFAFA,-1px 1px 0 #000,1px -1px 0 #000,1px 1px 0 #000;
        font-size: 40px;
    }
</style>

<div id="demotext">Aerobic</div>
<p style="font-size:160%;">
    <b>Aerobic</b>
    <i>exercise (also known as cardio) is physical exercise of low to high intensity that depends primarily on the aerobic energy-generating process. "Aerobic" is defined as "relating to, involving, or requiring free oxygen", and refers to the use of oxygen to adequately meet energy demands during exercise via aerobic metabolism.</i>
</p>
<img src=~/images/airobic.png width="400" height="250">
<br />
<br />
<div id="demotext">Stretching</div>
<p style="font-size:160%;">
    <b>Stretching</b>
    <i> is a form of physical exercise in which a specific muscle or tendon (or muscle group) is deliberately flexed or stretched in order to improve the muscle's felt elasticity and achieve comfortable muscle tone.The result is a feeling of increased muscle control, flexibility, and range of motion. Stretching is also used therapeutically to alleviate cramps and to improve function in daily activities by increasing range of motion.</i>
</p>
<img src=~/images/strech.png width="400" height="250">
<br />
<br />
<div id="demotext">Power</div>
<p style="font-size:160%;">
    <b>Power</b>
    <i>Simply stated, power is the ability to move weight in a very short period of time. So, ultimately, it is force times velocity. The client/athlete generates a lot of force very quickly, so power exercises are typically explosive moves.</i>
</p>
<img src=~/images/power.png width="400" height="250">



