@using Microsoft.AspNetCore.Identity
@using GymFinal.Areas.Identity.Data
@inject SignInManager<GymFinalUser> SignInManager
@inject UserManager<GymFinalUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>


<style>
    p.ex1 {
        border: 1px solid yellow;
        padding-bottom: 25px;
        font-size: xx-large;
        font: 700;
        font-family: cursive;
    }

    h1 {
        text-shadow: 2px 2px 5px yellow;
    }

    .icon-box-item {
        text-align: center;
        margin-bottom: 40px;
    }

        .icon-box-item .ib-icon {
            width: 88px;
            height: 88px;
            border-radius: 50%;
            color: #000000;
            font-size: 60px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background: #f6f9fa;
            margin: 0 auto 25px;
            -webkit-transition: 0.4s;
            transition: 0.4s;
        }

        .icon-box-item h4 {
            margin-bottom: 25px;
        }

        .icon-box-item p {
            margin-bottom: 0;
        }

        .icon-box-item:hover .ib-icon {
            background: #fcff18;
        }
</style>


<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="section-title text-center">
                <br /><br /><br />
                <p class="ex1">DO TOUR <strong>BEST</strong><br>AND<br>FORGET THE <strong>REST</strong></p>
                <br /><br /><br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="icon-box-item">
                <div class="ib-icon">
                    <br /><br /><br /><br /><br /><br /><br /><br />
                    <i class="material-icons">whatshot</i>

                </div>
                <h4>Intense Workouts</h4>
                <p>There is no substitute for the intensity you provide during your training.  An intense 30-40 minute training session is much more effective than 2-3 hours of mild weight lifting. </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box-item">
                <div class="ib-icon">
                    <i class="material-icons">emoji_events</i>

                </div>
                <h4>Advanced equipment</h4>
                <p>Our gym equipment is wide ranging and includes advanced Life Fitness equipment, Hammer Strength equipment, Power Plate, Power Tec, and more.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box-item">
                <div class="ib-icon">
                    <i class="material-icons">fitness_center</i>
                </div>
                <h4>We Get Results</h4>
                <p>Our training system, as applied by our certified sports performance trainers, delivers consistent results to athletes dedicated to getting better.</p>
            </div>
        </div>
    </div>
</div>

@* video *@
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-lg-8">
            <div class="section-title text-center">
                <h1>Click Play And Get Some Motivation!</h1>
                <br />
                <video width="700" height="400" controls>
                    <source src="~/images/myvideo.mp4" type="video/mp4">
                    <source src="~/images/myvideo.mp4" type="video/ogg">
                    Your browser does not support the video tag.
                </video>

            </div>
        </div>
    </div>
</div>


@if (SignInManager.IsSignedIn(User))
{
    //when we logged in
    <input type="hidden" id="someName" value="@Best.bestclass" />
    <script>

        window.onload = setTimeout(function start() {
            var best = $("#someName").val();

            var flag = Swal.fire({

                html:
                    'Hey you! I noticed you like  ' + '' + best + ' ' +
                    'type of lessons, We recommend to read more about it!',
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText:
                    '<i class="fa fa-thumbs-up"></i> Great!',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonText:
                    '<i class="fa fa-thumbs-down"></i>',
                cancelButtonAriaLabel: 'Thumbs down'

            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = "/StudioClasses/Info";
                }
                else {
                    window.location = "/StudioClasses/Index";
                }
            });
        }, 10000);

    </script>
}

<div class="row">

    <div class="col-md-4 col-sm-6 col-s-12">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" width=" 200" height="150" ; src=~/images/fittip.jpg alt="Card image cap">
            <h2 class="card-title">Fitness Tips</h2>
            <div class="card-body">
                <p>Fitness Tips</p>
                <p><a class="btn btn-primary" style="background-color:#808080 !important ; border-color:white ;border-radius: 20px 20px 20px 20px;" target="_blank" href="https://www.mensjournal.com/health-fitness/25-expert-fitness-tips-and-strategies-every-lifter-should-know/">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:10.2em" src="~/images/home.jpg" alt="Card image cap">
            <h2 class="card-title"> Home training </h2>
            <div class="card-body">
                <p>Home Training</p>
                <p><a class="btn btn-primary" style="background-color:#808080 !important ;border-color:white ;border-radius: 20px 20px 20px 20px;" target="_blank" href="https://www.coachmag.co.uk/workouts/home-workouts">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-s-12">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:10em" src="~/images/food.jpg" alt="Card image cap">
            <h2 class="card-title">Healthy food</h2>
            <div class="card-body">
                <p>Healthy food </p>
                <p><a class="btn btn-primary" style="background-color:#808080 !important ;border-color:white ;border-radius: 20px 20px 20px 20px;" target="_blank" href="https://www.healthline.com/nutrition/50-super-healthy-foods">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>






<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $("pr").toggle();
            });
        });</script>

    <br />
    <br />
    <button>Click to hide our Fitness Tips!</button><br />
    <pr>1.Exercise Daily</pr><br />
    <pr>2.Eat the Right Foods and Portion Each Meal</pr><br />
    <pr>3.Keep Track of Calories and Food Intake Per Day</pr><br />
    <pr>4.Be Sure to Get Sleep</pr><br />
    <pr>5.Stay Motivated</pr>
</div>
